.single-one-product{display: flex; border-right: 1px solid black; border-bottom: 1px solid lightgray;}
.product-name h4{color:blue;}
.product-image{padding:10px 0;}
.product-name{margin-left: 1%;}
.btn-mama{
    width:200px;
    height: 30px;
    margin-bottom: 5px;
    background-color:white ;
    color:black;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid black;
    cursor: pointer;
}
.btn-mama:hover{
width: 202px;
height:32px ;
background-color: black;
color: white;

}
.name{text-decoration: none;}