.allfriends-main-div{
    margin: 0 auto;
    
}
.allfriends-second-div{
    border: 1px solid #f0f0f0;
    width: 250px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px 250px 10px 10px ; 
}
.allfriends-second-div a{
    text-decoration: none;
}