.shop-container{display: flex;}
.cart-container{width:20% ;}
.product-container{width: 80%; margin-left: 70px;}
.order-summary{
    text-align: center;
}
.order-total{color:brown;}
.cart-container{padding-left: 7px;}
.review{margin-top: 20px;}
.review-btn{
    background-color:goldenrod;
    color: brown;
    padding: 2px 50px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(249, 10, 10);
    border-radius: 5px;

}
.order-calculation{display: flex;  }
.dolar{margin-left: 15px;}